#restart {
  display: block;
  width: 720px;
  height: 64px;
  margin-bottom: 16px;
  font-size: 3em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

#grid {
  display: grid;
  width: 720px;
  height: 720px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  margin-left: auto;
  margin-right: auto;
}

#grid div[data-toggle="false"] {
  background-color: red;
}

#grid div[data-toggle="true"] {
  background-color: blue;
}

